body{
 background:#f5f7fa;
}

/*header box styling */
.header-box{
   background:#d9efe1;
    padding:12px;
  border-radius:8px
}

.card{
border-radius:10px;
}

   table{
  background:white;
 }
